=simple_form_for @user do |f|
 =f.input_field :first_name
 =f.input_field :last_name
 =f.association :business, label_method: :name, value_method: :id, include_blank: false
 =f.input :admin
 =f.submit