.span6
	%h1 aTillr

	%p If you're a popup food business, food truck, drinks seller or any other high volume, small menu business, aTillr can help you understand your customers and control your finances better.
	%p Currently, we're not looking for users while we build the system and use it with <a href="http://manhattansproject.com">the Manhattans Project</a> to iron out the kinks.
.span6
	%h3 What does it do?
	%p aTillr provides a super slick and minimal interface for iOS and Android devices to register your sales, and provides a report of each days trading, with graphs of how each product performed through the day and the ability to add discounts, stock losses and see how much money should be in your till at the end of the day.
.span12
	<!-- Begin LaunchRock Widget -->
	<div id="lr-widget" rel="MFKDI452"></div>
	<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
	<!-- End LaunchRock Widget -->