// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-lg {
	width: 100% !important;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 0px !important;
	font-size: 2em !important;
}

.discount {
	width: 100%;
	a {
		display: block;
		width: 100% !important;
		margin: 0 auto;
		text-align: center;
		background-color: #ccc;
		padding: 10px 0px;
		font-weight: bold;
		font-size: 1.5em;
		text-decoration: none;
		&:hover {
			color: white;
		}		
	}
}