// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn-lg {
	width: 100% !important;
	margin: 5px auto;
	display: block;
	text-align: center;
	background-color: #ccc;
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: none;
	&:active {
		color: green;
	}		
}

a.discount {
	font-size: 1.5em;
	background-color: #888;
}

.discount {
	width: 100%;
	a {
		display: block;
		width: 100% !important;
		margin: 0 auto;
		text-align: center;
		background-color: #ccc;
		padding: 10px 0px;
		font-weight: bold;
		font-size: 1.5em;
		text-decoration: none;
		&:hover {
			color: white;
		}		
	}
}