= javascript_include_tag "//www.google.com/jsapi", "chartkick"

%h1 Product Report

%table
  %tr
    %th Product
    %th Date
    %th Sales
  -@products.each do |product|
    %tr
      %td
        =product.name
      %td
        =product.date
      %td
        =product.sales.length
%br


= link_to 'New Product', new_product_path

= column_chart Product.all.collect{ |u| [u.name,u.sales.count]}